<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | relative_url }}">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="https://mthanaba.github.io/remote_living_blog/">Home</a></li>
		        	<li><a href="https://mthanaba.github.io/remote_living_blog/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="https://mthanaba.github.io/remote_living_blog/blog/">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
